@import url("../styles/global.css");

/* TODO: Style the scroll bars of the page */

body {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.hero-section {
    overflow: hidden;
    width: calc(100vw - 2 * var(--default-padding));
    background: linear-gradient(180deg, var(--primary-black) 50%, var(--accent-dark-red) 100%);
    z-index: 1;
    scroll-snap-align: start;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}

.hero-section::before {
    content: "";
    inset: 0;
    background-image: url("../../assets/background-images/page1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.12;
    position: absolute;
    z-index: -1;
}

.hero-section * {
    background-color: transparent;
}

.hero-section img {
    height: var(--img-diameter);
    width: var(--img-diameter);
    border-radius: calc(var(--img-diameter) / 2);
    display: block;
}

.hero-section #user-profile {
    height: calc(var(--img-diameter) - 4px);
    width:  calc(var(--img-diameter) - 4px);
    border: 2px solid var(--primary-white);
}

nav {
    margin-top: 3vh;
    height: fit-content;
    width: calc(100vw - 2 * var(--default-padding));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.a-links {
    column-gap: 2vw;
}

.a-links a {
    text-decoration: none;
    color: var(--primary-white);
    display: block;
}

.bisector {
    margin-top: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23vh;
}

.left-hero {
    width: 40vw;
}

.left-hero h1 {
    font-family: "Playfair Display";
    color: var(--primary-white);
    font-weight: 500;
    font-size: 2.8rem;
}

.left-hero button {
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-size: 1rem;
    font-weight: 500;
    padding-inline: 40px;
    padding-block: 2px;
    margin-top: 4vh;
}

.left-hero button:hover {
    scale: 1.05;
}

.hero-section-books {
    column-gap: 1vw;
}

.small-books-pair {
    row-gap: 2vh;
}

.big-book {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.big-book:hover {
    scale: 1.05;
}

.small-book:hover {
    scale: 1.07;
}

/* BOOK's BG SET BY DEFAULT, REMOVE THEM */
#book1 {
    background: url("http://localhost:3000/uploads/books/sapiens.jpg") lightgray 50% / cover no-repeat;
}

#book2 {
    background: url("http://localhost:3000/uploads/books/shree_bhagwat_geeta.jpg") lightgray 50% / cover no-repeat;
}

#book3 {
    background: url("http://localhost:3000/uploads/books/the_subtle_art_of_not_giving_a_fuck.jpg") lightgray 50% / cover no-repeat;
}

#book4 {
    background: url("http://localhost:3000/uploads/books/rich_dad_poor_dad.jpg") lightgray 50% / cover no-repeat;
}

#book5 {
    background: url("http://localhost:3000/uploads/books/becoming.jpg") lightgray 50% / cover no-repeat;
}

#book6 {
    background: url("http://localhost:3000/uploads/books/atomic_habits.jpg") lightgray 50% / cover no-repeat;
}

#book7 {
    background: url("http://localhost:3000/uploads/books/the_psychology_of_money.jpg") lightgray 50% / cover no-repeat;
}

.hero-section-books:hover .big-book,
.hero-section-books:hover .small-book {
    filter: blur(2.5px);
}

.hero-section-books .big-book:hover,
.hero-section-books .small-book:hover {
    filter: blur(0);
}

main {
    padding: var(--default-padding);
    max-width: calc(100vw - 2 * (--default-padding));
}

.browse-books,
.recommended-books {
    scroll-snap-align: center;
}

.browse-books h1,
.recommended-books h1 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 6vh;
    margin-top: 1.5vw;
}